<h1>All Products</h1>

<% if @products.any? %>
  <% @products.each do |product| %>
    <div>
      <p><strong>Name:</strong> <%= product.name %></p>
      <ul>
        <% product.product_attributes.each do |key, value| %>
          <li><strong><%= key %>:</strong> <%= value %></li>
        <% end %>
      </ul>
      <hr>
    </div>
  <% end %>
<% else %>
  <p>No products found.</p>
<% end %>

<p><%= link_to 'New Product', new_product_path %></p>
